server:
  port: 5080

spring:
  application:
    name: buildly
  debug: true

  datasource:
    url: jdbc:postgresql://localhost:5432/testDB
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

jwt:
  secret-key: asnjnufcheruhfe4u74y574yr73jd092wij2idmwsmxd;4ru483ejdsnicu